* {
    margin-left: 5px;
    text-align: center;
    background: gray;
}
body {
    font-family: 'Courier New', Courier, monospace;
    color: #777;
    width: 1000px;
    font-size: 18px;
    margin: auto;
}
header {
    background: #ccc;
    padding: 20px;
    margin-bottom: 10px;
    margin-top: 5px;
}
nav {
    background: #ccc;
    padding: 20px;
    margin-bottom: 20px;
}

section {
    background: #ccc;
    float: left;
    width: 55%;
    height: 250px;
    margin-bottom: 20px;
}
article {
    background: gray;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    padding: 20px;
    height: 125px;
}
aside {
    background: #ccc;
    float: right;
    width: 44%;
    height: 250px;
    margin-bottom: 20px;
}
h3 {
    background: #ccc;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #ccc;
    color: #777;
    padding: 10px;
    
}
p {
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 10px;
    background: #ccc;
    color: #777;
    
}
footer {
   
    padding: 20px;
    clear: both;
    text-align: center;
    background: #ccc;
}
